@{
    var Home = HttpContextAccessor.HttpContext.Session.GetString("Home");
    var SystemView = HttpContextAccessor.HttpContext.Session.GetString("SystemView");
    var SystemUser = HttpContextAccessor.HttpContext.Session.GetString("SystemUser");
    var Product=HttpContextAccessor.HttpContext.Session.GetString("Product");
    var ProductRatings = HttpContextAccessor.HttpContext.Session.GetString("ProductRatings");
    var User = HttpContextAccessor.HttpContext.Session.GetString("User");
    var Order = HttpContextAccessor.HttpContext.Session.GetString("Order");



   }
<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Menu
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cogs"></i>
                            <span>Main Data</span>

                        </a>
                        <ul class="nav nav-children">
                            @if(Product !=null){
                            <li>
                                <a class="nav-link" asp-controller="Product" asp-action="Index">
                                    <i class="fas fa-users-cog"></i>
                                    Products
                                </a>
                            </li>}
                            @if (ProductRatings != null)
                            {
                                <li>
                                    <a class="nav-link" asp-controller="ProductRatings" asp-action="Index">
                                        <i class="fas fa-users-cog"></i>
                                        Product Ratings
                                    </a>
                                </li>
                            }
                            @if (User != null)
                            {
                                <li>
                                    <a class="nav-link" asp-controller="User" asp-action="Index">
                                        <i class="fas fa-users"></i>
                                        Users
                                    </a>
                                </li>
                            }
                            @if (Order != null)
                            {
                                <li>
                                    <a class="nav-link" asp-controller="Order" asp-action="Index">
                                        <i class="fas fa-users-cog"></i>
                                        Orders
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                 
                    @if (SystemView != null || SystemUser != null)
                    {
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                <i class="fas fa-users-cog"></i>
                                <span>System Admin</span>
                            </a>
                            <ul class="nav nav-children">
                                @if (SystemUser != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="SystemUser" asp-action="Index">
                                            <i class="fas fa-users-cog"></i>
                                            System Users
                                        </a>
                                    </li>
                                }
                                @if (SystemView != null)
                                {
                                    <li>
                                        <a class="nav-link" asp-controller="SystemView" asp-action="Index">
                                            <i class="fas fa-window-restore"></i>
                                            System Views
                                        </a>
                                    </li>
                                }

                            </ul>
                        </li>
                    }
                </ul>
            </nav>

        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>

    </div>
</aside>
